<section class="card">
  <div class="card-body">
    <h1>Sobre el Sitio</h1>
    <p>
      Podras realizar la alta y baja de productos, asi como registrar clientes y proveedores dentro de tu Negocio.
    </p>
  </div>
</section>
